.title {
    width: 100%;
}
body {
    background-color: gray;
    margin: 0;
}
.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 125px;
    border: 10px solid rgb(60, 59, 59);
}