html {
    border-radius: 50%;
}
p {
    margin: 20px;
    overflow: hidden;
}
body {
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}
img {
    width: 100%;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(50, 105, 150);
}
.time {
    grid-column: 1/2;
    color: white;
    margin-bottom: 0;
}
.read {
    grid-column: 1/2;
    color: white;
}
.views, .view{
    grid-column: 2/3;
    color: white;
}
.comment, .comments{
    grid-column: 3/4;
    color: white;
}